{% extends 'layout.html.twig' %}

{% block title %}Ajouter une soirée - {{ parent () }}{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <div class="card mt-4 col-lg-12">
    <h5 class="bg-orange text-center rounded">Informations soirée</h5>
    <div class="card-body">
        <p class="card-text">
            <div class="form-group">
                <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="title">Titre de la soirée :</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Soirée moustache">
                            {% if errors.title is defined %}
                                <p class="text-danger">{{ errors.title }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="theme">Thème de la soirée :</label>
                            <input type="texte" class="form-control" id="theme" name="theme" placeholder="Poils et testostérone">
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="date">Date de la soirée :</label>
                        <div class="d-flex flex-row">
                            <input style="width: 10em" type="date" class="form-control" id="date" name="date" placeholder="DD/MM/YYYY"><input type="time" id="time" name="time">
                        </div>
                        {% if errors.date is defined %}
                            <p class="text-danger">{{ errors.date }}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="address">Adresse de la soirée :</label>
                        <input style="width: 46em" type="text" class="form-control" id="address" name="address" placeholder="2 chemin de la Fête">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">Ville :</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="Bordeaux">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="zip">Code postal :</label>
                            <input type="text" class="form-control" id="zip" name="zip" placeholder="33000">
                            {% if errors.zip is defined %}
                                <p class="text-danger">{{ errors.zip }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
            </div>
            </p>
    </div>
    </div>

    <div class="card mt-4 col-lg-12">
    <h5 class="bg-orange text-center rounded">Description</h5>
        <div class="card-body">

                    <label for="description"></label>
                    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Soirée moustache ramenez vos rasoirs !!!"></textarea>
            <br>
            <label for="file">Photo de couverture :</label>
            <input type="file" id="picture" name="picture">
            {% if errors.picture is defined %}
                <p class="text-danger">{{ errors.picture }}</p>
            {% endif %}
         </div>
    </div>

    <div class="card mt-4 col-lg-12">
    <h5 class="bg-orange text-center rounded">Playlist</h5>
    <div class="card-body">
        <p class="card-text">

        <div class="form-group">
                <label for="playlist"></label>
            <img src="/assets/images/spotify.png" class="img-fluid text-center" alt="Responsive image" width="10%"> <textarea class="form-control" id="playlist_url" name="playlist_url" rows="1" placeholder="url : spotify"></textarea>
            {% if errors.playlist_url is defined %}
                <p class="text-danger">{{ errors.playlist_url }}</p>
            {% endif %}
        </div>
        </p>

        <div class="d-flex justify-content-end"> <input type="submit" value="créer soirée" class="btn btn-outline-success"></div>

    </di>
    </div>
    </div>
</form>
{% endblock %}


